name: Lint & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    env:
      DB_NAME: avito
      DB_USER: avito_user
      DB_PASSWORD: avito_pass
      DB_HOST: postgres
      DB_PORT: 5432
      DB_SSLMODE: disable
      SERVER_PORT: 8080
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest

      - name: Create .env file
        run: |
          echo "DB_NAME=${DB_NAME}" >> .env
          echo "DB_USER=${DB_USER}" >> .env
          echo "DB_PASSWORD=${DB_PASSWORD}" >> .env
          echo "DB_HOST=${DB_HOST}" >> .env
          echo "DB_PORT=${DB_PORT}" >> .env
          echo "DB_SSLMODE=${DB_SSLMODE}" >> .env
          echo "SERVER_PORT=${SERVER_PORT}" >> .env
          cat .env

      - name: Run E2E tests
        run: make test-e2e
  